name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # අලුත්ම version එක

      - name: Build with Buildozer
        uses: ArtemSerebrenninkov/buildozer-action@v1.6.1 # ස්ථාවර version එකක්
        with:
          buildozer_version: master
          command: buildozer android debug
          repository_root: .

      - name: Upload APK
        uses: actions/upload-artifact@v4 # මෙන්න මේක තමයි v4 වෙන්න ඕනේ
        with:
          name: package
          path: bin/*.apk
